header {
    background-color: #8c7851;
    color: #fff;
    padding: 2px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #111;
}
.smol {
    height: 50px;
}
nav img {
    height: 50px;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    background-color:#f9f4ef;
}
.note {
    display: flex;
    justify-content: center;
    color: red;
    font-size: 15px;
    margin-top: 60px;
}
.title {
    font-size: 35px;
    font-weight: bold;
    color: #020826;
}
.sub {
    font-size: 30px;
}

.Head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 30px;
    padding-bottom: 20px;
}

hr {
    margin-right: 250px;
    margin-left: 250px;
    height: 3px;
    background-color: black;
    border: none;
    margin-bottom: 60px;
}
.logo {
    width: 100px;
    height: auto;
    transition: transform 0.5s ease-out;
}
.logo:hover {
    transform: scale(1.1);
  }
  
.earth {
    width: 150px;
    height: 150px;
}

.Title {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.description {
    padding-top: 10px;
}
.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px; 
}
/* ------------------------------------------------------------------- */
/* Legs */
.ltitle {
    display: flex;
    justify-content: center;
}
.licon {
    height: 300px;
    width: auto;
}
.feet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.evo {
    display: flex;
    justify-content: space-around;
}
.arrow {
    width: 100px;
    height: 100px;
}
.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#fffffe;
    border-radius: 40px;
    height: 300px;
    width:300px;
}
/* -------------------------------------------------------------------- */
/* TORSO */
.h123 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 30px;
}
.Pelvis {
    display: flex;
    justify-content: center;
}
.hero2 {
    display: flex;
    justify-content: space-evenly;
}

.box {
    background-color: #fffffe;
    margin-bottom: 100px;
    border-radius: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 300px;
    height: 300px;
}

.ldescription {
    display: flex;
    flex-direction: column;

}
.pimg {
    width: 200px;
    height: auto;
}
.type {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: px;
    margin-left: 450px; */
}
.three {
    background-color: #fffffe
}
.pdesc {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background-color: #eaddcf;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 20px;
}
.bullet {
    font-size: 15px;
}
.pic {
    width: 100px;
    height: 100px;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name {
    margin-bottom: 20px;
    margin-top: 20px;
}

/* -------------------------------------------------------------------------------------------------------------- */
/* HEAD */
.top {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.master {
    display: flex;
    justify-content:space-around;
    margin-right: 160px;
    margin-left: 160px;
}
.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* justify-content: center; */
    background-color: #fffffe;
    margin-bottom: 100px;
    border-radius: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 300px;
    height: 300px;
}
.brain {
    background-color: #fffffe;
}

.limbic {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eaddcf;
    margin-bottom: 100px;
    border-radius: 50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 300px;
    height: 300px;

}
.parts {
    display: flex;
    flex-direction: column;
    background-color:#eaddcf;
    margin-bottom: 30px;
    padding: 20px;
    align-items: center;
    border-radius: 20px;
}
.lobes {
    width: 500px;
    height: 400px;
}
.cortex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.white {
    background-color:#fffffe;
}
.ball {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 40px;
}
.ground {
    display: flex;
    justify-content: space-around;
}
/* ----------------------------------------- */
.hand {
    width: 500px;
    height: auto;

}

/* ----------------------------------------------- */

.second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 420px;
    padding-right: 420px;
    margin-top: 30px;
}

.evo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: auto;
}

.third {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 520px;
    padding-right: 520px;
    margin-top: 30px;
}